body{
  margin: 0;
}

.base-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right,#317BB8,#8648AC); 
  height: 100vh;
}

.container{
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 360px;
  height: 385px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.login-title-container{
  border-bottom: 1px solid gray;
}

.login-title{
  font-family: "Roboto", sans-serif;
  padding: 17px;
  margin: auto;
  font-size: 1;  
  color: #000000;
}

.login-form{ 
  display: flex;
  flex-direction: column;
  padding: 20px 40px 10px 35px;
  text-align: center;
}

.user{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 0;
  padding: 20px 0 10px 5px;
  box-sizing: border-box;
  font-size: 15px;
}

.password{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 0;
  padding: 35px 0 10px 5px;
  box-sizing: border-box;
  font-size: 15px;
}

.forgotPassword{
  font-family : sans-serif;
  color: gray;
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 0;
  padding: 20px 0 25px 5px;
  box-sizing: border-box;
  font-size: 15px;
  text-align: left;
}

.login-button {
  font-family : sans-serif;
  outline: 0;
  background: #317BB8;
  width: 100%;
  border: 0;
  padding: 12px 0 12px 0;
  color: #FFFFFF;
  font-size: 17px;
  border-radius: 30px;
  margin: 0 0 13px 0;
}
.hr{
	height:1.5px;
  background-color: gray;
}

p {
  margin: center;
  color: gray;
  
}
p > a {
  font-size: 15px;
  color: #317BB8;
  text-decoration: none; 
  font-family: "Roboto", sans-serif;
}
