* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #eee;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
      Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
      Lucida Grande, Helvetica, Arial, sans-serif;
  }
  
  .container {
    background-color: white;
    width: 560px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #d3d3d3;
  }
  
  .item {
    padding: 20px 20px;
    position: relative;
  }
  
  .profileInfo {
    display: flex;
  }
  
  .profileInfo-image {
    flex: 0 1 60px;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: pink;
  }
  
  .profileInfo-text {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 10px;
  }
  .profileInfo-textSection{
    background-color: rgb(212, 209, 209);
    
  }
  .profileInfo-textSection > p {
    margin-bottom: 1rem;
  }
  
  .profileInfo-more {
    display: inline;
  }
  
  .profileInfo-more:before {
    content: "\00a0";
    margin-left: 0.2rem;
  }

  .profileInfo-paragraph{
    flex: 1 1;
    flex-direction: column;
    margin: 0 0 20px 0;
  }
  
  .likeSection {
    display: flex;
    flex-direction: column;
  }
  
  .userActionSection:before {
    content: "";
    position: absolute;
    left: 20px;
    top: 2px;
    height: 1px;
    width: 520px;
    border-bottom: 1px solid #d3d3d3;
  }
  
  .likeSection-likeIcon:before {
    display: inline-flex;
    content: " 👍 ";
  }
  
  .likeSection-heartIcon:before {
    content: " ❤️ ";
  }
  
  .likeSection-clapIcon:before {
    content: " 👏 ";
  }
  .likeSection-comment{
    justify-content: flex-end;
    }
  
  .userActionSection-icons {
    display: inline-flex;
    justify-content: center;
    padding: 0 0 0 20px ;
    margin-right: 2rem;
  }
  
  .userActionSection-like:before {
    content: " 👍 ";
  }
  
  .userActionSection-comment:before {
    content: " 💬 ";
  }
  
  .userActionSection-share:before {
    content: " ↗️ ";
  }

  .userActionSection-send::before {
    content: " 🪁 ";
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .font-gray {
    color: #777;
  }
  .icymi{
    color: rgb(65, 67, 189);
  }
  