* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #eee;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
      Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
      Lucida Grande, Helvetica, Arial, sans-serif;
  }
  
  .container {
    background-color: white;
    width: 560px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #d3d3d3;
  }
  
  .item {
    position: relative;
  }
  
  .profileInfo {
    display: flex;
    padding: 20px 20px 0 20px;
  }
  
  .profileInfo-image {
    flex: 0 1 60px;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-image: url(resim.svg);
  }
  
  .profileInfo-text {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 10px;
  }
  h1 {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 100%;
    line-height: 1.4;
  }

  .profileInfo-text > h2 {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 1.3;
    color: #585858;
  }

  .profileInfo-textSection{
    display: flex;
    flex-direction: column;
    background-color: rgb(94%, 95%, 97%);
    height: 70px;

    
  }
  .profileInfo-textSection > h2 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 1rem;
  }

  .profileInfo-textSection > h3 {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 1rem;
  }
  
  .profileInfo-more {
    display: inline;
  }
  
  .profileInfo-more:before {
    content: "\00a0";
    margin-left: 0.2rem;
  }

  .profileInfo-paragraph{
    flex: 1 1;
    flex-direction: column;
    margin: 0 0 20px 0;
    padding: 0 20px 0 20px;
  }
  
  .likeSection {
    display: flex;
    padding: 5px 20px 10px 10px;
    justify-content: space-between;
  }
  
  .userActionSection:before {
    content: "";
    position: absolute;
    left: 20px;
    top: 2px;
    height: 1px;
    width: 520px;
    border-bottom: 1px solid #d3d3d3;
  }
  
  .likeSection-likeIcon:before {
    display: inline-flex;
    content: " 👍 ";
  }
  
  .likeSection-heartIcon:before {
    content: " ❤️ ";
  }
  
  .likeSection-clapIcon:before {
    content: " 👏 ";
  }
  .likeSection-comment{
    justify-content: flex-end;
    }

  .userActionSection {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 30px;
    border-top: 1px solid gray;
  }
  
  .userActionSection-icons {
    justify-content: center;
    margin-right: 2rem;
  }
  
  .userActionSection-like:before {
    content: " 👍 ";
  }
  
  .userActionSection-comment:before {
    content: " 💬 ";
  }
  
  .userActionSection-share:before {
    content: " ↗️ ";
  }

  .userActionSection-send::before {
    content: " 🪁 ";
  }
  
  .font-bold {
    font-weight: bold;
  }

  .font-gray {
    color: gray;
  }
  
  .font-text {
    color: rgb(0, 0, 0);
    font-weight: 400;
  }
  
  .font-gray,
  .font-text,
  a {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
  }

  .icymi,
  a{
    color: #3180ce;
  }
  