body {
    background-image: linear-gradient(to right bottom, #d5def5, #c4d0f2, #b4c3f0, #a5b5ed, #97a7e9, #8c9ae4, #838edf, #7a81da, #7372d2, #6e63c9, #6953bf, #6643b5);
    margin: 0;
    height: 100vh;
}

#content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

h3 {
    text-align: center;
    color: #430f58;
}

.content-item{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 20px;
    border: 2px solid black ;
    color: brown;
    background:none;
}
